.valing-middle-img {
    margin-left: 50%;
    transform: translateX(-50%);
}

.main-img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.text-primary {
    color: #E11E25 !important;
}

.text-secondary {
    color: #002C42 !important;
}
.bg-secondary {
    background-color: #002C42 !important;
}